.home-page {
    width: 100%;
    height: 100vh;
    // background: rgb(240, 240, 240);
    // background: radial-gradient(circle, rgba(240, 240, 240, 1) 0%, rgba(221, 221, 221, 1) 100%);
    background: radial-gradient(ellipse at center, rgb(224, 224, 214) 0%, rgb(231, 230, 218) 35%, #b8dee0 100%);
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: row;
    padding: 2px;
    padding-bottom: 5px;

    .side-menu {
        background: rgb(6, 57, 83);
        background: linear-gradient(0deg, rgba(6, 57, 83, 1) 0%, rgba(2, 48, 71, 1) 100%);
        width: 15%;
        border-radius: 8px;
        padding-top: 10px;

        .logo-section {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            img {
                width: 30%;
            }
            span {
                color: #f0f8ff;
                font-size: 22px;
                margin-left: 10px;
                margin-top: 7px;
                font-weight: 500;
            }
        }
        .menu-options {
            list-style: none;
            margin-top: 25px;
            padding: 0;

            li {
                // background-color: aliceblue;
                padding: 10px 20px;
                margin: 5px;
                color: #8ECAE6;
                cursor: pointer;
                transition: .3s ease-in-out;
                border-radius: 5px;
                
                i {
                    font-size: 25px;
                    margin-right: 5px;
                }

                &:hover {
                    background-color: #8ECAE6;
                    color: #023047;
                }
            }
        }
    }


}