.home-page {
    width: 100%;
    height: 100vh;
    background: rgb(219, 219, 219);
    background: linear-gradient(0deg, rgba(219, 219, 219, 1) 0%, rgba(235, 235, 235, 1) 100%);
    font-family: 'Comfortaa', cursive;
    overflow: hidden;

    header {
        background-color: #023047;
        height: 15%;
        border-radius: 0 0 15px 15px;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            height: 80%;
            margin: 0 50px;

            @include res-sm {
                margin: 0 10px;
                height: 50%;
            }
        }

        .title-page {
            // margin-left: 50px;
            color: aliceblue;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 30px;
                font-weight: 800;

                @include res-sm {
                    font-size: 24px;
                }
            }

            h2 {
                font-size: 17px;
                font-weight: 100;
                color: #219EBC;

                @include res-sm {
                    font-size: 15px;
                }
            }
        }
    }

    .page-content {

        #first-login {
            h2 {
                font-size: 21px;
                font-weight: 800;
            }

            h3 {
                font-size: 15px;
                font-weight: 100;
            }

            .end-proccess {
                // background-color: #023047;
                margin: 20px 30px;


            }

            .end-proccess-form {
                .proccess-input {
                    margin-left: 15px;
                }

                .row {
                    margin-left: 5px;
                }

                .orcamento-especial-btns {
                    margin: 10px 15px 30px 15px;

                    .selected-button {
                        background-color: #023047;
                        color: aliceblue;
                    }

                    button {
                        border: 2px solid #023047;
                        padding: 5px 15px;
                        margin: 0 20px 0 0;
                    }
                }

                .end-button {
                    margin: 15px 15px;

                    button {
                        background-color: #219EBC;
                        padding: 7px 18px;
                        border-radius: 5px;
                    }
                }
            }
        }

        #list-definition {
            margin: 15px 20px;
            margin-bottom: 50px;

            .section-title {
                h2 {
                    font-size: 25px;
                    font-weight: 800;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 100;
                }
            }

            .new-item {
                margin-top: 25px;
            }

        }


        #list-table {
            margin: 15px 20px;
            margin-bottom: 50px;

            .section-title {
                h2 {
                    font-size: 25px;
                    font-weight: 800;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 100;
                }
            }

            .header-row {
                font-weight: 800;
                color: #219EBC;

                .list-col {
                    background-color: azure;
                    padding: 10px 20px;
                    border: 1px solid gray;
                }
            }

            .item-row {
                font-weight: 100;

                .list-col {
                    background-color: azure;
                    padding: 10px 20px;
                    border: 1px solid gray;
                    border-top: none;
                }
            }
        }

    }
}