.suggestion-item-offcanvas {
    background-color: rgb(45, 89, 128);
    border-radius: 7px;

    .offcanvas-header {
        background-color: #023047;
        display: flex;
        align-items: center;
        border-radius: 7px 0 0 0;

        .title {
            display: flex;
            flex-direction: row;
            color: #219EBC;

            i {
                margin-top: 4px;
                margin-right: 10px;
                font-size: 25px;
            }

            h5 {
                margin: 2px;
                margin-top: 10px;
                font-weight: 700;
            }
        }

    }

    .offcanvas-body {
        background-color: #cde2e2;
        border-radius: 0 0 0 7px;

        .default-items {
            // background-color: #14f0f0;

            .subtitle {
                text-align: justify;
                margin-bottom: 10px;
            }

            .suggestion-item {
                // border: 1px solid #023047;
                display: flex;
                flex-direction: row;
                padding-left: 15px;
                align-items: center;
                padding: 10px;
                margin-top: 12px;
                border-radius: 5px;
                transition: 0.2s ease-in;

                .title {
                    font-size: 17px;
                    margin-bottom: 0;
                    width: 70%;
                }

                .add-item {
                    color: #023047;
                    background-color: #219EBC;
                    width: 30%;
                    padding: 8px 10px;
                    font-size: 14px;
                    border-radius: 6px;
                    font-weight: 800;
                    outline: none;
                    transition: .2s ease-in;
                    cursor: pointer;

                    &:hover {
                        color: #FB8500;
                        background-color: #023047;
                    }
                }

                &:hover {
                    background-color: #9eccd8;
                }
            }
        }


        .item-register {
            h6 {
                font-size: 15px;
            }

            .new-item-form {
                margin-top: 20px;
                // padding: 0 30px;
                display: flex;
                flex-direction: column;
                // align-items: center;


                .form-floating {
                    width: 100%;
                    margin: 3px 0;
                    font-size: 15px;
                    padding-bottom: 1.5px;

                    input {
                        font-size: 15px;
                        background-color: #f4fbff;
                    }

                    .hide-input {
                        background-color: #ffffff00;
                        border: none;
                    }

                    @include res-lg {
                        margin: 10px 0;
                    }

                    @include res-sm {
                        margin: 5px 0;
                        width: 85%;
                    }
                }

                .moving-budget-section {
                    margin: 15px 0;
                    display: flex;
                    flex-direction: row;

                    .form-check {
                        margin-left: 15px;
                    }
                }



                .access-buttons {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: 15px;

                    button {
                        width: 17%;
                        height: 35px;
                        justify-content: center;
                        display: block;
                        color: #023047;
                        background-color: #219EBC;
                        font-size: 15px;
                        font-weight: bold;
                        outline: none;
                        border-radius: 10px;
                        transition: .2s ease-in;
                        cursor: pointer;
                        margin: 0px 5px 5px 10px;

                        &:hover {
                            background-color: #FB8500;
                        }

                        @include res-lg {
                            margin-top: 45px;
                        }

                        @include res-sm {
                            margin-top: 25px;
                        }
                    }

                    .bt-select {
                        background-color: #FB8500;
                    }
                }

                button {
                    height: 35px;
                    width: 230px;
                    justify-content: center;
                    display: block;
                    color: #023047;
                    background-color: #219EBC;
                    font-size: 15px;
                    font-weight: bold;
                    outline: none;
                    border-radius: 10px;
                    transition: .2s ease-in;
                    cursor: pointer;
                    margin: 0 auto;
                    margin-top: 20px;
                    padding: 5px 15px;

                    &:hover {
                        background-color: #FB8500;
                    }
                }
            }
        }


        .item-register-status {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .check-icon {
                font-size: 70px;
                color: #219EBC;
            }

            .check-label {
                color: #023047;
                font-size: 20px;
                margin-top: 20px;
                font-weight: 800;
                margin-bottom: 20px;
            }

            .action-btn {
                height: 35px;
                width: 160px;
                justify-content: center;
                display: block;
                color: #023047;
                background-color: #219EBC;
                font-size: 15px;
                font-weight: bold;
                outline: none;
                border-radius: 10px;
                transition: .2s ease-in;
                cursor: pointer;
                padding: 5px 15px;
                margin: 7px;

                &:hover {
                    background-color: #FB8500;
                }
            }




        }


    }
}