.profile-page {
    width: 85%;
    padding: 25px 40px;

    .page-title {
        display: flex;
        flex-direction: row;
        color: #219EBC;

        h1 {
            font-size: 35px;
            font-weight: 900;
            margin-top: 2px;
        }

        i {
            margin-right: 15px;
            font-size: 35px;
        }
    }

    .nav-tabs {
        // background-color: #219EBC;
        // border-bottom: #023047 1px solid;
        margin-top: 20px;


        button {
            border-bottom: #023047 1px solid;
            padding: 10px 15px;
            margin: 0;
            font-weight: 600;
            color: #023047;

            &:hover {
                background-color: #023047;
                color: #8ECAE6;
                border: #023047 solid 1px;
            }
        }

        .nav-link.active {
            background-color: #023047;
            color: #FFB703;
            border: #023047 solid 1px;
        }
    }

    .tab-content {
        // Conteudo das abas

        #nav-personal {
            width: 50%;

            .personal-information-form {
                width: 100%;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                // align-items: center;
                transition: .5s ease-in-out;


                // 1px solid #ced4da
                .form-floating {
                    width: 85%;
                    margin: 3px 0;
                    font-size: 13px;
                    padding-bottom: 1.5px;

                    input {
                        font-size: 15px;
                        background-color: #f4fbff;
                    }
                    .hide-input {
                        background-color: #ffffff00;
                        border: none;
                    }
                    
                    @include res-lg {
                        margin: 10px 0;
                    }

                    @include res-sm {
                        margin: 5px 0;
                        width: 85%;
                    }
                    
                }

                #signup-bt {
                    width: 25%;
                    height: 35px;
                    justify-content: center;
                    display: block;
                    color: #023047;
                    background-color: #219EBC;
                    font-size: 15px;
                    font-weight: bold;
                    outline: none;
                    border-radius: 10px;
                    transition: .2s ease-in;
                    cursor: pointer;
                    margin-top: 15px;
                    margin-bottom: 10px;

                    &:hover {
                        background-color: #FB8500;
                    }

                    @include res-lg {
                        margin-top: 45px;
                    }

                    @include res-sm {
                        margin-top: 25px;
                    }
                }
            }
        }

        #nav-moving {
            width: 40%;

            .move-information-form {
                margin-top: 15px;
                // padding: 0 30px;
                display: flex;
                flex-direction: column;
                // align-items: center;


                .form-floating {
                    width: 100%;
                    margin: 3px 0;
                    font-size: 13px;
                    padding-bottom: 1.5px;

                    input {
                        font-size: 15px;
                        background-color: #f4fbff;
                    }
                    .hide-input {
                        background-color: #ffffff00;
                        border: none;
                    }

                    @include res-lg {
                        margin: 10px 0;
                    }

                    @include res-sm {
                        margin: 5px 0;
                        width: 85%;
                    }
                }

                .moving-budget-section {
                    margin: 15px 0;
                    display: flex;
                    flex-direction: row;

                    .form-check {
                        margin-left: 15px;
                    }
                }

                

                .access-buttons {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    margin-bottom: 10px;
                    margin-top: 15px;

                    button {
                        width: 17%;
                        height: 35px;
                        justify-content: center;
                        display: block;
                        color: #023047;
                        background-color: #219EBC;
                        font-size: 15px;
                        font-weight: bold;
                        outline: none;
                        border-radius: 10px;
                        transition: .2s ease-in;
                        cursor: pointer;
                        margin: 0px 5px 5px 10px;

                        &:hover {
                            background-color: #FB8500;
                        }

                        @include res-lg {
                            margin-top: 45px;
                        }

                        @include res-sm {
                            margin-top: 25px;
                        }
                    }

                    .bt-select {
                        background-color: #FB8500;
                    }
                }

                
            }
        }

        #nav-access {
            width: 30%;
            padding-top: 15px;

            .form-floating {
                width: 100%;
                margin: 3px 0;
                font-size: 13px;
                padding-bottom: 1.5px;
                margin-top: 7px;

                input {
                    font-size: 15px;
                    background-color: #f4fbff;
                }

                label {
                    padding-top: 20px;
                }

                @include res-lg {
                    margin: 10px 0;
                }

                @include res-sm {
                    margin: 5px 0;
                    width: 85%;
                }
            }

            .requirement-title {
                font-weight: 800;
                font-size: 15px;
                color: #219EBC;
                margin-top: 7px;
            }

            .password-requirement {
                font-weight: 100;
                color: #868686;
                margin-top: 7px;
                font-size: 12px;

                i {
                    color: rgb(45, 161, 45);
                }
            }

            .action-buttons {
                display: flex;
                flex-direction: row;
                // justify-content: center;
                width: 100%;

                .action-bt {
                    width: 40%;
                    height: 35px;
                    justify-content: center;
                    display: block;
                    color: #023047;
                    background-color: #219EBC;
                    font-size: 15px;
                    font-weight: bold;
                    outline: none;
                    border-radius: 10px;
                    transition: .2s ease-in;
                    cursor: pointer;
                    margin: 20px 5px 5px 0px;

                    &:hover {
                        background-color: #FB8500;
                    }

                    @include res-lg {
                        margin-top: 45px;
                    }

                    @include res-sm {
                        margin-top: 25px;
                    }
                }
            }
        }

        #nav-properties {
            color: #FB8500;
            padding: 20px;
            font-size: 20px;
        }
    }








    // .section-title {
    //     display: flex;
    //     flex-direction: row;
    //     margin-top: 20px;
    //     margin-bottom: 10px;
    //     color: #023047;

    //     i {
    //         font-size: 20px;
    //         margin-right: 12px;
    //     }
    //     h3 {
    //         text-transform: uppercase;
    //         font-size: 16px;
    //         font-weight: 800;
    //         margin-top: 3px;
    //     }
    // }

    // .personal-information-form {
    //     // background-color: #023047;
    //     width: 40%;
    //     margin-bottom: 30px;

    //     .form-floating {
    //         margin: 5px 0;
    //         font-size: 13px;
    //         padding-bottom: 1.5px;

    //         input {
    //             font-size: 15px;
    //             background-color: #f4fbff;
    //         }
    //     }
    // }
}